[submodule "title_with_keywords"]
	path = title_with_keywords
	url = https://github.com/costo4ka/itpw.git
[submodule "text_summarizer"]
	path = text_summarizer
	url = https://github.com/M1roQ/genai-text-summarizer.git
